<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>nsi-jax-ws</display-name>
    
    <!-- JAX-WS Metro listener -->
    <listener>
        <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
    </listener>
    
    <!-- Spring listener -->
    <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <!-- JAX-WS Metro servlets -->
    <servlet>
        <servlet-name>NSIService</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>NSIService</servlet-name>
        <url-pattern>/NSIEstatV20Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NSIService</servlet-name>
        <url-pattern>/NSIStdV20Service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NSIService</servlet-name>
        <url-pattern>/NSIStdV21Service</url-pattern>
    </servlet-mapping>
    
    <!-- JAX-RS Jersey servlet -->
    <servlet>
       <servlet-name>Jersey Web Application</servlet-name>
       <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
       <init-param>
           <param-name>javax.ws.rs.Application</param-name>
           <param-value>org.estat.nsi.rest.SdmxRestServiceApplication</param-value>
       </init-param>
       
       <!-- Needs to be un-commented for enabling zip compression
		<init-param>
		    <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
		    <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>
		<init-param>
		    <param-name>com.sun.jersey.spi.container.ContainerResponseFilters</param-name>
		    <param-value>com.sun.jersey.api.container.filter.GZIPContentEncodingFilter</param-value>
		</init-param>
		-->
     </servlet>
     <servlet-mapping>
       <servlet-name>Jersey Web Application</servlet-name>
       <url-pattern>/rest/*</url-pattern>
     </servlet-mapping>
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
     <!-- Uncomment the following filter/filter-mapping to enable authentication/authorization -->
<!-- 
	<filter>
		<filter-name>NSIAuthModule</filter-name>
		<filter-class>org.estat.nsi.authmodule.NsiAuthFilter</filter-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>./params/auth.properties</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>NSIAuthModule</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<resource-ref>
		<description>Mapping store data source</description>
		<res-ref-name>jdbc/authdb</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>
-->
     

	<resource-ref>
		<description>Mapping store data source</description>
		<res-ref-name>jdbc/mastore</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
		<res-sharing-scope>Shareable</res-sharing-scope>
	</resource-ref>

</web-app>
