<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:lang="http://www.springframework.org/schema/lang"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/lang
            http://www.springframework.org/schema/lang/spring-lang.xsd">

    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>classpath:org/estat/nsi/client/messages</value>
                <value>classpath:org/estat/nsi/client/tooltips</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean id="localizationSupport" class="org.estat.nsi.client.web.I18nSupport" lazy-init="false"
          scope="singleton" factory-method="getInstance"/>
</beans>
