<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd            
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- No need for this -->
	<!-- mvc:annotation-driven / -->
	
	<!-- Component Scan commented out because if it loads the controllers already they can't be declared as having baseController as Parent -->
	<!-- context:component-scan use-default-filters="false" base-package="org.sdmxsource"  /-->
	<!-- context:component-scan base-package="org.estat.nsi.client.web" / -->
	
	<!-- Below: Part that existed before migration to common-api. Configuration needed specifically for Web Application -->

    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <bean id="localeResolver" class="org.estat.nsi.client.web.SafeCookieLocaleResolver">
        <property name="defaultLocale" value="en"/>
        <property name="cookieName" value="nsi-client-locale"/>
        <property name="cookieMaxAge" value="1209600"/> <!-- 2 weeks -->
    </bean>

    <bean id="sessionValidatorInterceptor" class="org.estat.nsi.client.web.SessionValidator">
        <property name="matcher">
            <bean class="org.springframework.util.AntPathMatcher"/>
        </property>
        <property name="invalidSessionPath" value="/invalid-session.htm"/>
        <property name="excludePatterns">
            <list>
                <value>/start.htm</value>
                <value>/invalid-session.htm</value>
            </list>
        </property>
        <property name="ajaxPatterns">
            <list>
                <value>/ajax/**</value>
            </list>
        </property>
    </bean>

    <bean id="localeChangeInterceptor"
          class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="locale"/>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping">
        <property name="interceptors">
            <list>
                <ref bean="sessionValidatorInterceptor"/>
                <ref bean="localeChangeInterceptor"/>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="synchronizeOnSession" value="true"/>
    </bean>

    <!-- This must be set as LAZY, otherwise the instantiation may fail if the NSI webservice is not fully started. -->
    <bean id="nsiClient" class="org.estat.nsi.client.NSIClientDefaultImpl" lazy-init="true"/>

    <!-- The test implementation, which uses data from resources/org/estat/nsi/client/testdata folder. -->
    <bean id="testNsiClient" class="org.estat.nsi.client.NSIClientTest"/>

    <!-- Parent for all application's Spring controllers. -->
    <bean id="baseController" abstract="true" class="org.estat.nsi.client.web.AbstractBaseController">
        <property name="nsiClientBeanName" value="nsiClient"/>
    </bean>

    <!-- Spring controllers. -->
    <bean class="org.estat.nsi.client.web.MainController" parent="baseController"/>
    <bean class="org.estat.nsi.client.web.CriteriaController" parent="baseController"/>
    <bean class="org.estat.nsi.client.web.ResultsController" parent="baseController"/>
    <bean class="org.estat.nsi.client.web.DownloadController" parent="baseController"/>
	
	<!-- START Part used for Common-Api new functionality to automatically Autowire properties -->	
	<context:spring-configured />

	<!-- used for reading the @Autowired annotation -->
	<context:annotation-config />

	<aop:aspectj-autoproxy />

	<!-- As auto-scan is disabled beans have to be declared here. 
	 Even with component-scan enabled it does not work because the context is a WebApplicationContext 
	 and it only loads  the @Controller classes but not the @Service-->
	<bean id="sdmxBeansV1Builder" 
	      class="org.sdmxsource.sdmx.structureparser.builder.sdmxbeans.impl.SdmxBeansV1Builder" />
	<bean id="sdmxBeansV2RegDocBuilder" 
		  class="org.sdmxsource.sdmx.structureparser.builder.sdmxbeans.impl.SdmxBeansV2RegDocBuilder" />
	<bean id="sdmxBeansV2StrucDocBuilder" 
	      class="org.sdmxsource.sdmx.structureparser.builder.sdmxbeans.impl.SdmxBeansV2StrucDocBuilder" />
	<bean id="sdmxBeansV21Builder" 
	      class="org.sdmxsource.sdmx.structureparser.builder.sdmxbeans.impl.SdmxBeansV21Builder" />
	<bean id="externalReferenceManagerImpl" 
		  class="org.sdmxsource.sdmx.structureparser.manager.impl.ExternalReferenceManagerImpl" />
	<bean id="sdmxBeansBuilderImpl" 
		  class=" org.sdmxsource.sdmx.structureparser.builder.sdmxbeans.impl.SdmxBeansBuilderImpl" />
<!-- 	<bean id="ediStructureEngine" 
		  class="org.sdmxsource.sdmx.ediparser.engine.writer.impl.EdiStructureEngine" /> -->
	<bean id="subscriptionParsingManagerImpl" 
		  class="org.sdmxsource.sdmx.structureparser.manager.parsing.impl.SubscriptionParsingManagerImpl" />
	<bean id="sdmxSourceReadableDataLocationFactory" 
		  class="org.sdmxsource.util.factory.SdmxSourceReadableDataLocationFactory" />
	<bean id="structureParsingManagerImpl" 
		  class="org.sdmxsource.sdmx.structureparser.manager.parsing.impl.StructureParsingManagerImpl" />
	<!-- <bean id="ediParseManagerImpl" 
		  class="org.sdmxsource.sdmx.ediparser.manager.impl.EdiParseManagerImpl" /> -->
	<bean id="provisionParsingManagerImpl" 
		  class="org.sdmxsource.sdmx.structureparser.manager.parsing.impl.ProvisionParsingManagerImpl" />
	<bean id="registrationParsingManagerImpl" 
		  class="org.sdmxsource.sdmx.structureparser.manager.parsing.impl.RegistrationParsingManagerImpl" />
	<bean id="subscriptionBeansBuilderImpl" 
	      class="org.sdmxsource.sdmx.structureparser.builder.subscriptionbeans.impl.SubscriptionBeansBuilderImpl" />		
	<bean id="structureWriterManagerImpl" 
		  class="org.sdmxsource.sdmx.structureparser.manager.impl.StructureWriterManagerImpl" />	
	<bean id="readableDataLocationFactory" 
		  class="org.sdmxsource.util.factory.SdmxSourceReadableDataLocationFactory" />
	<bean id="writeableDataLocationFactory"	
	      class="org.sdmxsource.util.factory.SdmxSourceWriteableDataLocationFactory" />	
	  
	<bean id="restStructureQueryFactory"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.RestStructureQueryFactory" />			
	<bean id="structureQueryBuilderRest"	
	      class="org.sdmxsource.sdmx.querybuilder.builder.StructureQueryBuilderRest" />	
	<bean id="sdmxStructureParserFactory"
		  class="org.sdmxsource.sdmx.structureparser.factory.SdmxStructureParserFactory"/>
	      
		  
	<bean id="superBeansBuilderImpl"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.SuperBeansBuilderImpl" />	
	<bean id="categorySchemeSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.CategorySchemeSuperBeanBuilder" />	
	<bean id="codelistSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.CodelistSuperBeanBuilder" />	
	<bean id="conceptSchemeSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.ConceptSchemeSuperBeanBuilder" />	
	<bean id="dataflowSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.DataflowSuperBeanBuilder" />	
		  
	<bean id="dataStructureSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.DataStructureSuperBeanBuilder" />	
	<bean id="provisionSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.ProvisionSuperBeanBuilder" />	
	<bean id="processSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.ProcessSuperBeanBuilder" />	
	<bean id="registrationSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.RegistrationSuperBeanBuilder" />	
	<bean id="attributeSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.AttributeSuperBeanBuilder" />
	<bean id="conceptSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.ConceptSuperBeanBuilder" />	   
	<bean id="dimensionSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.DimensionSuperBeanBuilder" />	
	<bean id="primaryMeasureSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.PrimaryMeasureSuperBeanBuilder" />	
	<bean id="hierarchicalCodelistSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.HierarchicalCodelistSuperBeanBuilder" />
	<bean id="processStepSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.ProcessStepSuperBeanBuilder" />	
	<bean id="inputOutputSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.InputOutputSuperBeanBuilder" />
	      
	<bean id="queryStructureRequestBuilderManagerImpl"	
	      class="org.sdmxsource.sdmx.querybuilder.manager.QueryStructureRequestBuilderManagerImpl" />	
	<bean id="queryStructureRequestFactoryV20"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.QueryStructureRequestFactoryV20" />	
	<bean id="queryStructureRequestBuilderV20"	
	      class="org.sdmxsource.sdmx.querybuilder.builder.QueryStructureRequestBuilderV20" />
		  
	<bean id="queryStructureRequestDocumentBuilderV20"	
	      class="org.sdmxsource.sdmx.querybuilder.builder.QueryStructureRequestDocumentBuilderV20" />

	<bean id="dataQueryBuilderManagerImpl"	
	      class="org.sdmxsource.sdmx.querybuilder.manager.DataQueryBuilderManagerImpl" />	      
	<bean id="dataQueryRequestFactoryV20"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.DataQueryRequestFactoryV20" />	      	
	<bean id="dataQueryDocumentBuilderV20"	
	      class="org.sdmxsource.sdmx.querybuilder.builder.DataQueryDocumentBuilderV20" />	
	<bean id="dataQueryBuilderV20"	
	      class="org.sdmxsource.sdmx.querybuilder.builder.DataQueryBuilderV20" />
	<bean id="customQueryRequestDocumentBuilderV20"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.CustomQueryRequestDocumentBuilderV20" />
	<bean id="complexDataQueryBuilderManagerImpl"	
	      class="org.sdmxsource.sdmx.querybuilder.manager.ComplexDataQueryBuilderManagerImpl" />
	<bean id="complexStructureQueryBuilderManagerImpl"	
	      class="org.sdmxsource.sdmx.querybuilder.manager.ComplexStructureQueryBuilderManagerImpl" />
	<bean id="complexStructureQueryFactoryV21"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.ComplexStructureQueryFactoryV21" />	      
	<bean id="complexStructureQueryDocumentBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.ComplexStructureQueryDocumentBuilderV21" />
	<bean id="complexStructureQueryBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.ComplexStructureQueryBuilderV21" />
	     
	<bean id="complexDataQueryFactoryV21"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.ComplexDataQueryFactoryV21" /> 
	
	<bean id="structSpecificDataQueryBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.StructSpecificDataQueryBuilderV21" /> 
	<bean id="structSpecificDataQueryDocBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.StructSpecificDataQueryDocBuilderV21" />
	<bean id="structSpecificTimeSeriesQueryDocBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.StructSpecificTimeSeriesQueryDocBuilderV21" /> 
	<bean id="structSpecificTimeSeriesQueryBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.StructSpecificTimeSeriesQueryBuilderV21" /> 
	      
	<bean id="genericDataQueryBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.GenericDataQueryBuilderV21" />
	<bean id="genericDataQueryDocBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.GenericDataQueryDocBuilderV21" /> 
	<bean id="genericTimeSeriesDataQueryBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.GenericTimeSeriesDataQueryBuilderV21" /> 	      
	<bean id="genericTimeSeriesDataQueryDocBuilderV21"	
	      class="org.estat.sdmxsource.sdmx.querybuilder.builder.GenericTimeSeriesDataQueryDocBuilderV21" /> 	      
	      
	<bean id="structureQueryBuilderManagerImpl"	
	      class="org.sdmxsource.sdmx.querybuilder.manager.StructureQueryBuilderManagerImpl" />  
	<bean id="restDataQueryFactory"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.RestDataQueryFactory" />	     
	<bean id="dataQueryBuilderRest"	
	      class="org.sdmxsource.sdmx.querybuilder.builder.DataQueryBuilderRest" />	   

		  
	<bean id="sdmxStructureWriterFactory"	
	      class="org.sdmxsource.sdmx.structureparser.factory.SdmxStructureWriterFactory" />      
<!--	<bean id="structureXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.StructureXmlBeanBuilder" />   --> 
	<bean id="categorySchemeXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.CategorySchemeXmlBeanBuilder" />  
	<bean id="categoryXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.CategoryXmlBeanBuilder" />  	         
 	<bean id="codelistXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.CodelistXmlBeanBuilder" />  
 	<bean id="codeXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.CodeXmlBeanBuilder" />  
 	<bean id="conceptSchemeXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.ConceptSchemeXmlBeanBuilder" />  
 	<bean id="conceptXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.ConceptXmlBeanBuilder" />  
 	<bean id="dataflowXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.DataflowXmlBeanBuilder" />  
 	<bean id="hierarchicalCodelistXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.HierarchicalCodelistXmlBeanBuilder" />  	  
 	<bean id="hierarchyXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.HierarchyXmlBeanBuilder" />  			  
 	<bean id="codeRefXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.CodeRefXmlBeanBuilder" /> 
 	<bean id="levelXmlBeansBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.LevelXmlBeansBuilder" /> 
 	<bean id="codelistRefXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.CodelistRefXmlBeanBuilder" /> 
 	<bean id="dataStructureXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.DataStructureXmlBeanBuilder" /> 
 	<bean id="dimensionXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.DimensionXmlBeanBuilder" /> 
		  
 	<bean id="crossSectionalMeasureXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.CrossSectionalMeasureXmlBeanBuilder" /> 
 	<bean id="timeDimensionXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.TimeDimensionXmlBeanBuilder" /> 
 	<bean id="groupXmlBeansBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.GroupXmlBeansBuilder" /> 

 	<bean id="primaryMeasureXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.PrimaryMeasureXmlBeanBuilder" /> 

 	<bean id="attributeXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.AttributeXmlBeanBuilder" /> 
 	<bean id="metadataflowXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.MetadataflowXmlBeanBuilder" /> 
<!-- 	<bean id="metadataStructureDefinitionXmlBeansBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.MetadataStructureDefinitionXmlBeansBuilder" /> 
	<bean id="reportStructureXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.ReportStructureXmlBeanBuilder" />   -->
	<bean id="organisationSchemeXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.OrganisationSchemeXmlBeanBuilder" /> 
	<bean id="organisationRoleXmlBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.OrganisationRoleXmlBeanBuilder" /> 
	<bean id="processXmlBeanBuilder "	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.ProcessXmlBeanBuilder " /> 
	<bean id="reportingTaxonomyXmlBeanBuilder "	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.ReportingTaxonomyXmlBeanBuilder " /> 
	<bean id="structureSetXmlBeanBuilder "	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.StructureSetXmlBeanBuilder " /> 
	<bean id="StructureHeaderXmlBeanBuilder "	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v2.StructureHeaderXmlBeanBuilder " />
	      
	<bean id="structureXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.StructureXmlBeanBuilder" /> 
	<bean id="dataflowXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.DataflowXmlBeanBuilder" /> 
	<bean id="categorySchemeXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.CategorySchemeXmlBeanBuilder" /> 
	<bean id="metadataflowXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.MetadataflowXmlBeanBuilder" /> 
	<bean id="categorisationXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.CategorisationXmlBeanBuilder" /> 
	<bean id="codelistXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.CodelistXmlBeanBuilder" /> 
	<bean id="hierarchicalCodelistXmlBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.HierarchicalCodelistXmlBuilder" /> 
	<bean id="conceptSchemeXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.ConceptSchemeXmlBeanBuilder" /> 
	<bean id="metadataStructureXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.MetadataStructureXmlBeanBuilder" /> 
	<bean id="dataStructureXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.DataStructureXmlBeanBuilder" /> 
	<bean id="structureSetXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.StructureSetXmlBeanBuilder" /> 
	<bean id="reportingTaxonomyXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.ReportingTaxonomyXmlBeanBuilder" /> 
	<bean id="processXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.ProcessXmlBeanBuilder" /> 
	<bean id="attachmentConstraintXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.AttachmentConstraintXmlBeanBuilder" /> 
	<bean id="contentConstraintXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.ContentConstraintXmlBeanBuilder" /> 		
	<bean id="provisionAgreementXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.ProvisionAgreementXmlBeanBuilder" /> 		
	<bean id="organisationUnitSchemeXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.OrganisationUnitSchemeXmlBeanBuilder" /> 		
	<bean id="agencySchemeXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.AgencySchemeXmlBeanBuilder" /> 
	<bean id="dataConsumerSchemeXmBeanlBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.DataConsumerSchemeXmBeanlBuilder" /> 		
	<bean id="dataProviderSchemeXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.DataProviderSchemeXmlBeanBuilder" /> 		
	<bean id="structureHeaderXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.StructureHeaderXmlBeanBuilder" /> 
	<bean id="categoryBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.CategoryBeanAssembler" />
	<bean id="codeBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.CodeBeanAssembler" /> 	
	<bean id="codelistRefBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.CodelistRefBeanAssembler" />
	<bean id="hierarchyBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.HierarchyBeanAssembler" />
	<bean id="hierarchicalCodeBeanAssemberV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.HierarchicalCodeBeanAssember" />
	<bean id="levelAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.LevelAssembler" /> 
	<bean id="textFormatAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.TextFormatAssembler" /> 
	<bean id="conceptBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.ConceptBeanAssembler" /> 
	<bean id="componentAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.ComponentAssembler" /> 
	<bean id="dimensionXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.DimensionXmlAssembler" /> 
	<bean id="measureDimensionXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.MeasureDimensionXmlAssembler" /> 
	<bean id="timeDimensionXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.TimeDimensionXmlAssembler" /> 
	<bean id="groupXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.GroupXmlAssembler" /> 
	<bean id="attributeXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.AttributeXmlAssembler" /> 
	<bean id="primaryMeasureXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.PrimaryMeasureXmlAssembler" /> 
	<bean id="organisationSchemeMapBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.OrganisationSchemeMapBeanAssembler" /> 
	<bean id="categorySchemeMapBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.CategorySchemeMapBeanAssembler" /> 
	<bean id="conceptSchemeMapBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.ConceptSchemeMapBeanAssembler" /> 
	<bean id="codelistMapBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.CodelistMapBeanAssembler" /> 
	<bean id="structureMapBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.StructureMapBeanAssembler" /> 
	<bean id="toValueTypeTypeBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.ToValueTypeTypeBuilder" /> 
	<bean id="reportingCategoryBeanAssemblerv21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.ReportingCategoryBeanAssembler" /> 
	<bean id="processStepBeanAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.ProcessStepBeanAssembler" />
	<bean id="timeRangeXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.TimeRangeXmlAssembler" />
	<bean id="organisationXmlAssemblerV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.OrganisationXmlAssembler" />
	<bean id="registrationXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.RegistrationXmlBeanBuilder" />
	<bean id="submitRegistrationBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.rid.SubmitRegistrationBuilder" /> 
	<bean id="submitSubscriptionBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.rid.SubmitSubscriptionBuilder" /> 
	<bean id="subscriptionXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.SubscriptionXmlBeanBuilder" /> 
	<bean id="dataTypeBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.DataTypeBuilder" /> 
	<bean id="representationXmlBeanBuilderV21"	
	      class="org.sdmxsource.sdmx.structureparser.builder.xmlBeans.v21.assemblers.RepresentationXmlBeanBuilder" /> 
		  
	<!-- bean id="xMLParser"
		  class="org.sdmxsource.springutil.xml.XMLParser" / -->
		  
	<!--bean id="processStepSuperBeanBuilder"	
	      class="org.sdmxsource.sdmx.structureparser.builder.superbeans.impl.ProcessStepSuperBeanBuilder" />	
	<bean id="primaryMeasureSuperBeanBuilder"	
	      class="" />	
	<bean id="queryStructureRequestBuilderV20"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.QueryStructureRequestBuilderV20" />	
	<bean id="queryStructureRequestFactoryV20"	
	      class="org.sdmxsource.sdmx.querybuilder.factory.QueryStructureRequestFactoryV20" />	
	<bean id="dataQueryBuilderManagerImpl"	
	      class="org.sdmxsource.sdmx.querybuilder.manager.DataQueryBuilderManagerImpl" />	
	<bean id="constrainableCriteriaBuilder"	
	      class="org.estat.nsi.client.mock.ConstrainableCriteriaBuilder" /-->	
		  
	<bean id="messageDecoder" class="org.sdmxsource.util.resourceBundle.MessageDecoder">
		<property name="basenames">
			<set>
				<value>exception</value>
			</set>
		</property>
	</bean>
	
	<!-- END Part used for Common-Api new functionality to automatically Autowire properties -->	
</beans>
