/* GLOBAL STYLE */
/* -------------------------------------------------------------------------- */

html, body {
    width: 100%; height: 100%; margin: 0; padding: 0;
    overflow: hidden;
}

body { font-family: Verdana, Arial, sans-serif; font-size: 12px; }

a {
    outline: none; text-decoration: none; color: #2E6E9E;
}

a:hover {
    text-decoration: underline;
}

/* FIXES FOR IE 7 */
/* -------------------------------------------------------------------------- */

p { margin: 1em 0; }

/* GENERIC STYLES */
/* -------------------------------------------------------------------------- */

.help-message {
    margin: 1em 0; font-size: 11px; text-align: justify;
}

.error-message {
    color: #CC0000; text-align: justify;
}

.main-label {
    font-weight: bold; margin: 0.5em 0;
}

.dialog-message {
    padding: 1em 0; border: 1px solid #4297D7;
    background: #DFEFFC url("../jquery-ui-1.8.5.all/css/redmond/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50%;
}

.page-links {
    text-align: right; white-space: nowrap; overflow: hidden;
}

.page-links-label {
    font-weight: bold;
}

.page-links a {
    font-weight: bold; color: #2E6E9E;
}

.op-links {
    text-align: right; white-space: nowrap; overflow: hidden;
    font-size: 11px; font-weight: bold;
    margin-bottom: 5px;
}

img.tooltip { cursor: pointer; }

/* MAIN DECORATOR */
/* -------------------------------------------------------------------------- */

div#page-content {
    width: 1000px; height: 100%; margin: 0 auto;
}

div#page-header {
    height: 89px; background-color: #FFFF00;
}

div#page-header-left {
    float: left; width: 358px; height: 87px;
    background: #3399CC url("../image/logo.png") no-repeat scroll left top;
}

div#page-header-right {
    float:right; width: 642px; height: 87px;
    background: #3399CC url("../image/bgTopRight.png") no-repeat scroll right top;
}

div#page-toolbar {
    height: 20px; line-height: 20px; background-color: #043F81;
}

div#page-toolbar-left {
    float: left;
}

div#page-toolbar-right {
    float: right;
}

div#page-body {
}

div#page-footer {
    overflow: hidden; border:1px solid #3399CC; border-top: none; padding: 2px 1px; font-size: 10px;
    background-color: #043F81; color: white;
}

div#page-footer-copyright {
    float: left;
}

div#page-footer-version {
    float: right;
}

/* DATAFLOWS TREE */
/* -------------------------------------------------------------------------- */

.dataflow-links {
    margin: 5px 0; text-align: left; font-size: 11px; font-weight: bold;
}

div#dataflows-tree {
    overflow: hidden;
}

div#dataflows-tree .jstree-clicked {
    background-color: #043F81; color: white; text-shadow:1px 1px 1px black;
}

div#dataflows-tree li.dataflow-item div {
    display: inline;
}

div#dataflows-tree li.dataflow-item div.dataflow-name {
    font-style: italic;
}

div#dataflows-tree li.dataflow-item .dataflow-agency, div#dataflows-tree li.dataflow-item .dataflow-version {
    display: none;
}

/* PAGE BODY */
/* -------------------------------------------------------------------------- */

div#pb-workarea-pages {
    height: 100%;
}

/* QUERY BUILDER - CRITERIA */
/* -------------------------------------------------------------------------- */

div#criteria-component-tabs ul.ui-tabs-nav li { font-size: 9px; }
div#criteria-component-tabs ul.ui-tabs-nav { *padding-bottom: 1px; }

/* time */
table#criteria-edit-time {
    margin: auto;
}
table#criteria-edit-time td {
    padding: 0 3px; text-align: center;
}

table#criteria-edit-time td.time-header {
    font-weight: bold; text-align: center;
}

table#criteria-edit-time td.time-label {
    text-align: right; font-weight: bold;
}

/* codes */
div#criteria-codes-tree .jstree-clicked {
    background-color: #043F81; color: white; text-shadow:1px 1px 1px black;
}

div#max-observations-count {
    text-align: right; white-space: nowrap; overflow: hidden;
    font-size: 11px;
}

/* QUERY BUILDER - VIEW RESULTS */
/* -------------------------------------------------------------------------- */

table.results-table {
    width: 100%; border: 1px solid #3399CC; border-collapse: collapse;
}

table.results-table td {
    border: 1px solid #3399CC;
}

/* buttons */
div#results-buttons {
    float: right; margin-bottom: 1em;
}

/* axis */
/* See http://grasshopperpebbles.com/css/css-inline-block-ie7-hack/ for details about IE7 hack */

ul.results-layout-axis {
    list-style-type: none; margin: 0; padding: 0;
}
#results-axis-slice td {
    text-align: center;
}
#results-axis-slice ul.results-layout-axis li {
    display: inline-block;
}
#results-axis-slice ul.results-layout-axis li {
    zoom: 1; *display: inline; /* IE7 */
}
#results-axis-slice ul.results-layout-axis li.fixed {
    display: block;
}
#results-axis-horizontal ul.results-layout-axis li {
    display: inline-block;
}
#results-axis-horizontal ul.results-layout-axis li {
    zoom: 1; *display: inline; /* IE7 */
}
#results-axis-horizontal ul.results-layout-axis li.fixed {
    padding: 3px;
}
#results-axis-vertical {
    text-align: center; vertical-align: top; white-space: nowrap;
}
#results-axis-vertical ul.results-layout-axis li.fixed {
    padding: 3px;
}

/* the block for a component (for a concept) */
table.results-table div.component {
    display: inline-block; padding: 2px; margin: 2px; font-size: 9px; cursor: move;
    -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px;
    background-color: #FBEC88; border: 1px solid #3399CC;
}

table.results-table div.component-slice-single {
    background-color: #FFFFFF;
}

/* slice keys */
table#results-slice-keys {
    margin: auto;
}
table#results-slice-keys td {
    border: none; padding: 3px;
}
table#results-slice-keys td.key-name {
    text-align: right; font-weight: bold;
}

/* results */

div#results-data-padding {
    position: relative;
}

div#results-data-padding-inner {
    position: absolute; left: 100%; height: 1px; width: 10px;
}

table#results #results-data {
}
#results-data table {
    border: 0 hidden white; border-collapse:collapse; width: 100%;
}
#results-data table td {
    padding: 2px; text-align: center;
}
#results-data .hkeytitle, #results-data .hkeyvalue, #results-data .vkeytitle, #results-data .vkeyvalue {
    background: #DFEFFC url("../jquery-ui-1.8.5.all/css/redmond/images/ui-bg_glass_85_dfeffc_1x400.png") repeat-x scroll 50% 50%;
}
#results-data .hkeytitle, #results-data .vkeytitle {
    font-weight: bold;
}

#results-data .togglablekey, #results-data .togglablekeyvalue {
    cursor: pointer;
}
